@inherits LayoutComponentBase
@using Microsoft.FluentUI.AspNetCore.Components
@implements IDisposable
@inject NavigationManager NavigationManager
<FluentTooltipProvider />
<div id="Container">

    <div id="top">

        <div id="shapes">

            <div id="first-shape">
                
                <NavLink href="/administration/dashboard" class="links" Match="NavLinkMatch.All">
                    <FluentIcon Value="@(new Icons.Filled.Size20.Shortpick())" Color="Color.Custom" CustomColor="@GetIconColor("administration/dashboard")" />
                    Dashboard
                </NavLink>

                <NavLink href="/administration/tenants" class="links">
                    <FluentIcon Value="@(new Icons.Regular.Size20.FolderPeople())" Color="Color.Custom" CustomColor="@GetIconColor("administration/tenants")" />
                    Tenants
                </NavLink>
                
                <NavLink href="/inventory/products" class="links">
                    <FluentEmoji Value="@(new Emojis.Objects.Flat.Default.ShoppingCart())" Width="16px"/>
                    Products
                </NavLink>

                <NavLink href="/sales" class="links">
                    <FluentEmoji Value="@(new Emojis.Objects.Flat.Default.MoneyBag())" Width="16px" />
                    Sales
                </NavLink>
                
            </div>

            <div id="second-shape">
                
                @switch(currentUrl)
                {
                    case "administration/dashboard":
                        <div id="circle">
                            circle
                        </div>
                        break;
                    case "administration/tenants":
                        <Jungle.Client.Components.TenantBar />
                        break;
                    case "administration/tenants/add-tenant":
                        <Jungle.Client.Components.TenantBar />
                        break;
                    case "inventory/products":
                        <Jungle.Client.Components.ProductBar/>
                        break;
                    default:
                        <div id="circle">
                            circle
                        </div>
                        break;
                }

            </div>

        </div>
        <div id="circle">
            circle
        </div>

    </div>

    <main>
        @Body
    </main>
    <FluentToastProvider MaxToastCount="10" @rendermode="InteractiveAuto" />
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private string GetIconColor(string href)
    {
        return currentUrl == href ? "#2d6ed1" : "grey";
    }
}


<style>

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: Rubik-Light;
        font-weight: 900;
        font-size: 16px;
        text-decoration:none;
        height: fit-content;
        padding: 5px 10px;
        margin-left: 5px;
        border-radius: 5px;
        gap: 5px;
        color: dimgray;
        transition: 0.3s ease-in-out;
    }
        .links:hover{
            background-color: transparent;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
            color: red;
        }

    a.active{
        color: #2d6ed1;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    }
</style>